[Environment_Constants]
archivepath = Data\results.zip
temporaryfolder = Data\Unziped
searchstatisticfilename = Data\Unziped\Statistics\search_stats.csv
initialpopulationstatisticfilename = es_initialpopulation_stats.csv
mergestatisticfilename = Data\Unziped\Statistics\megs_stats.csv
multitypesearchfilename = multitypesearch_stats.csv
multisearchstatisticfilename = Data\Unziped\Statistics\multitypesearch_stats.csv
initpopulationstatisticfilename = Data\Unziped\Statistics\es_initialpopulation_stats.csv

